{% extends 'admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Edit User</h1>
        <div class="mt-4">
            <div class="text-right">
                <div class="d-inline-block ">
                    <a href="{{ path('user_index') }}" class="btn btn-primary">Back to list</a>
                </div>
                <div class="d-inline-block ">
                    {{ include('admin/user/_delete_form.html.twig') }}
                </div>
                <div class="d-inline-block ">
                    {% if user.id != account.id %}
                        {% for r in account.role %}
                            {% if r is same as ("ROLE_USER") %}
                                {{ include('admin/user/_admin_form.html.twig') }}
                            {% endif %}
                            {% if r is same as ("ROLE_ADMIN") %}
                                {{ include('admin/user/_user_form.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="text-left">
                {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    {{ include('admin/user/_modal_delete.html.twig') }}
    {{ include('admin/user/_modal_admin.html.twig') }}
    {{ include('admin/user/_modal_user.html.twig') }}
{% endblock %}
