{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<div class="text-center">
    <h1>User index</h1>
    <div class="mt-4">
        {% for message in app.flashes('success') %}
            <div class="div alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('user_new') }}" class="btn btn-primary">Create new</a>
        </div>
        <br>
        <div class="jumbotron">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="d-flex justify-content-center">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.Username }}</td>
                                <td>{{ user.getRolesData }}</td>
                                <td>
                                    <div class="small-text-center">
                                        <div class="d-inline-block">
                                            <a href="{{ path('user_show', {'id': user.id}) }}"
                                               class="btn btn-secondary">show</a>
                                        </div>
                                        <div class="d-inline-block">
                                            <a href="{{ path('user_edit', {'id': user.id}) }}"
                                               class="btn btn-secondary">edit</a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

        </div>

        {% endblock %}
