{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="text-center">
            <h1>Register</h1>
        </div>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.Username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="text-right">
            <button class="btn btn-primary">Register</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
