{% extends 'admin.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Section</h1>
    <div class="text-right mb-4">
        <a href="{{ path('admin_section_index') }}" class="btn btn-primary">back to list</a>

        <div class="text-left mt-5">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ section.name }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ section.page.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ section.content | raw }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>
                    {% if section.isActive == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ section.createdAt | date('d/m/Y')}}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('admin_section_edit', {'id': section.id}) }}" class="btn btn-secondary">edit</a>

    {{ include('admin/section/_delete_form.html.twig') }}
{% endblock %}
