{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="text-center">
        <h1> Category list </h1>
        <div class="mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="text-right mb-4">
                <a href="{{ path('category_new') }}" class="btn btn-primary">Create new</a>
            </div>
            <div class="jumbotron">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="text-left">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>

                                <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-secondary">show</a>
                                <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-secondary">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <div class="row justify-content-end">
            <div class="pagination">
                {{ knp_pagination_render(categories) }}
            </div>
        </div>
    </div>
{% endblock %}
