<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ encore_entry_link_tags('app') }}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

    <title>
        {% block title %}Welcome on Fridge_App!
        {% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>
{% block navbar %}
    <nav id="frontNav" class="navbar navbar-expand-lg navbar-light ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="/">
                <img src="/media/logo.png" alt="">
            </a>
            <ul class="nav navbar-nav">
                {% for page in pages|filter(s => s.isActive) %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% if page.path == "" %}/{% else %}{{ page.path }}{% endif %}">{{ page.name }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-3">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Account
                    </a>
                    <div class="dropdown-menu">
                        <a id="secondLink" class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign
                            Up</a>
                        <a id="secondLink" class="nav-link" href="/user/dashboard"><i class="fas fa-sign-in-alt"></i>
                            Login</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
<body>
{% block body %}
{% endblock %}
<div class="footer font-small mt-5">
    <div class="container">
        <footer class="page-footer row justify-content-around">
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="text-left">Plan du site:
                        {% for page in pages|filter(s => s.isActive) %}
                            <a class="nav-link" href="{% if page.path == "" %}/{% else %}{{ page.path }}{% endif %}">
                                    {{ page.name }}
                                </a>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="text-left">Accès au repository public:
                        <a class="nav-link" href="https://github.com/pow3rr3d/Fridge_App">Fridge_App</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="text-left">
                        <a class="nav-link" href="https://symfony.com/releases/5.0">Symfony 5</a>
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">BootStrap 4</a>
                        <a class="nav-link" href="https://www.npmjs.com/">npm 6</a>
                    </span>
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="modal fade bd-dark" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div id='modal' class="modal-content">
            <div class="m-5">
                <h3 class="text-center">It's Cookies Time! <i class="fas fa-cookie-bite"></i></h3>
                <br>
                <span class="text-justify">
                            <p>
                            L'application Fridge_App n'utilise pas de cookies dit "de tracking".
                            </p>
                            <p>
                            Les seuls cookies présents servent au bon fonctionnement de l'application.
                            Merci de les valider en intégralités avant de poursuivre.
                            </p>
                        </span>
                <br>
                <div class="d-flex justify-content-around">
                    <button id="CookiesRefuse" class="btn btn-danger">Retour</button>
                    <button id="CookiesValidation" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="return-to-top"><i class="fas fa-chevron-up"></i></div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('onScroll') }}
    {{ encore_entry_script_tags('labelColor') }}

{% endblock %}
{{ encore_entry_script_tags('frontModal') }}
</body>

</html>
