{% extends "layout.twig" %}

{% block head %}
	<title>
		Product list
	</title>
{% endblock %}

{% block body %}
	<div class="table-responsive-lg text-center">
		<p class="h1">Liste des produits pour
			{{ user.fullName }}
		</p>
		<br>
		<div class="text-right">
			<a href="/addProduct">Ajouter un produit</a>
		</div>
		<br>
		<table class="table table-hover table-borderless table-light text-center">
			<thead class="thead-dark">
				<tr>
					<th scope="col">id</th>
					<th scope="col">produit</th>
					<th scope="col">image</th>
					<th scope="col">action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for produit in produits %}
						<td>
							{{ produit.id }}
						</td>
						<td>
							{{ produit.name }}
						</td>
						<td>
							<img class="miniatureProduit" src="/{{ produit.image }}" alt="img_product}">
						</td>
						<td>
							<button type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit{{produit.id}}" class="btn btn-default">
								<i class="far fa-trash-alt"></i>
								<input class="button" type="hidden" value="{{produit.id}}" name="id"/>
							</button>

							<a class="btn btn-default" href="/modifyProduct/{{ produit.id }}">
								<i class="far fa-edit"></i>
							</a>
						</td>
					</img>
				</tr>
			</tbody>
			<div class="modal fade" id="confirm-submit{{produit.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							Confirm Submit
						</div>
						<div class="modal-body">
							<p class="text-left ">Are you sure you want to delete the following product?</p>
							<p class="text-left">Id:</p>
							<p class="text-left font-weight-bold">{{produit.id}}</p>
							<p class="text-left">Name:</p>
							<p class="text-left font-weight-bold">{{produit.name}}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<a href="/deleteProduct/{{produit.id}}" id="submit" class="btn btn-success success">Submit</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</table>
</div></div>{% endblock %}{% block footer %}{% endblock %}
