{% extends "layout.twig" %}

{% block head %}
	<title>
		Modify Product
	</title>
{% endblock %}

{% block body %}

	<div class="form-group">
		{% for produit in produits %}
			<div class="d-flex justify-content-center">
				<div id="cercle" class="d-flex justify-content-center"><img id="cercle" src="/{{produit.image}}"></div><br></div>
			<form enctype="multipart/form-data" action="/modifyProductSub/{{ produit.id }}" method="post" name="">
				<label for="product">Produit</label>
				<p class="form-control">[{{ produit.id }}]
					{{ produit.name }}</p>
					<br>
				<input type="hidden" name="id" value="{{ produit.id }}">
				<label for="stockReel">Stock Reel</label>
				<input class="form-control" type="number" name="stockReel" min="0" value="{{ produit.stockReel }}">
				<label for="stockOptimal">Stock Optimal</label>
				<input class="form-control" type="number" name="stockOptimal" min="0" value="{{ produit.stockOpti }}" required>
				<label for="image">Image</label>
				<input name="image" class="form-control" type="file" aria-describedby="inputGroupFileAddon01">
				<br>
				<input name="envoyer" id="" class="btn btn-primary" type="submit" value="envoyer">
				</form></div>
			{% endfor %}
		{% endblock %}
		{% block footer %}{% endblock %}
