{% extends "layout.twig" %}

{% block head %}
	<title>
		Shopping list
	</title>
{% endblock %}

{% block body %}
	<div class="table-responsive-lg text-center">
		<p class="h1">Liste de course pour
			{{ user.fullName }}
		</p>
		<br>
		<table class="table table-hover table-borderless table-light text-center">
			<thead class="thead-dark">
				<tr>
					<th class="col-2" scope="col">id</th>
					<th scope="col">produit</th>
					<th class="col-2" scope="col">quantité à acheté</th>
					<th class="col-2" scope="col">valider</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for produit in produits %}
						<td>
							{{ produit.id }}
						</td>
						<td>
							{{ produit.name }}
						</td>
						<form enctype="multipart/form-data" action="/addProductQt/{{ produit.id }}" method="post" name="">
							<td>
								<input class="form-control form-control-sm col-12" type="number" value="{{ produit.qtBuy }}" min="0" name="qtBuyed" required/>
							</td>
							<td>
								<input class="button" type="hidden" value="{{ produit.id }}" name="id"/>
								<button type="submit" value="submit" class="btn btn-outline-primary"><i class="fas fa-check"></i></button>
							</td>
						</form>
					</img>
				</tr>
			</tbody>
		{% endfor %}
	</table>
</div>{% endblock %}{% block footer %}
ici le footer{% endblock %}
