{% extends 'admin.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}
<div class="mt-3">
    {% for message in app.flashes('success') %}
        <div class="div alert alert-success mt-5">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row mt-4">
        <div class="tableTitle">
            <b class="text-center"> News list </b>
        </div>
        <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th id="product-th-action">
                <a href="{{ path('content_new') }}">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                            title="Add a News">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </a>
            </th>
            <th>Id</th>
            <th>Name</th>
            <th>Content</th>
            <th>IsActive</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td></td>
                <td>{{ content.id }}</td>
                <td>{{ content.name }}</td>
                <td>{{ content.content | raw }}</td>
                <td>{{ content.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ content.createdAt ? content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td id="product-td-action">
                    <a href="{{ path('content_edit', {'id': content.id}) }}">
                        <button id="edit" type="button" class="btn" data-toggle="tooltip"
                                data-placement="top"
                                title="Edit the news">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                    <a href="{{ path('content_show', {'id': content.id}) }}">
                        <button id="edit" type="button" class="btn" data-toggle="tooltip"
                                data-placement="top"
                                title="Show the news">
                            <i class="far fa-eye"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
