{% extends 'user.html.twig' %}

{% block title %}
    Product
{% endblock %}

{% block body %}

    <div class="text-center">
        <h1>Conso</h1>
    </div>
    <br>
    <div class="jumbotron">
        <div class="form-row">
            <div class="col">
                <input type="text" id="search" placeholder="Searching for...." class="form-control">
            </div>
        </div>
    </div>
    <br>
    {% for message in app.flashes('success') %}
        <div class="div alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row justify-content-around">
        {% for product in products %}
            <div name="card" class="card mt-5" style="width: 18rem;">
                {% if product.product.filename %}
                    <img src="{{ vich_uploader_asset(product, "imageFile") | imagine_filter('card') }}" class="card-img-top" alt="">
                {% else %}
                    <img src="{{ "/images/products/empty.jpg" | imagine_filter('card') }}" class="card-img-top" alt="">
                {%  endif %}
                <div class="card-body">
                    <h3 class="card-title">{{ product.product.name }}</h3>
                    <p class="card-text">Stock Réel: {{ product.stockReel }}</p>
                    <p class="card-text">Stock Opti: {{ product.stockOpti }}</p>
                    <form method="post" action="{{ path("user.conso.update", {id: product.id})}}" class="form-group">
                        <div class="d-inline-flex p-2">
                            <input type="hidden" name="_method" value="update">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <input name="nb" type="number" min="0"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {{ parent() }}
       {{ encore_entry_script_tags('searchCard') }}
{% endblock %}