{% extends 'admin.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Edit Page</h1>
        <div class="text-right mb-4">
            <a href="{{ path('admin_page_index') }}" class="btn btn-primary">back to list</a>
        </div>

        <div class="text-left mt-5">
            {{ include('admin/page/_form.html.twig', {'button_label': 'Update'}) }}



            {{ include('admin/page/_delete_form.html.twig') }}
        </div>
    </div>
    {{ encore_entry_script_tags('createSlug') }}
    {{ encore_entry_script_tags('sortableSections') }}
{% endblock %}
